/* common WordPress css */
:after, :before {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.alignleft {
  float: left;
}
/* page header */

.logo {
  margin: 0 15px 0 0;
}
.pagination .current {
  background-color: #B1B1B1;
}
/* comments */

.comment-count-approved {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 31px;
    height: 24px;
    margin-left: 20px;
    color: #337ab7;
    -webkit-border-radius: 4px 4px 7px 7px;
    border-radius: 4px 4px 7px 7px;
    border: 2px solid;
    border-bottom-color: transparent;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.comment-count-approved:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: -4px;
    left: 6px;
}

.comment-count-approved:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    border-width: 0 12px 0 6px;
    border-style: solid;
    bottom: 0;
    left: 0;
}

.comments {
  margin: 2em 0;
}

.commentlist,
.children {
  list-style: none;
}

.commentlist {
  padding: 0;
}

.children {
  padding: 0 0 0 70px;
}

.comment-meta {
  margin: 10px 0;
}

.avatar {
  margin: 0 10px 0 0;
}

.fn {
  margin: 0 0 5px 0;
}
/* widgets */

.calendar_wrap th,
.calendar_wrap td {
  min-width: 30px;
}
